a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#film-page{

  margin: 0 auto;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // height: 100%;
}

#main{

  display: flex;
  justify-content: space-between;
  height: 100%;

  #right, #left{

    width: 50%;
    height: 100%;

  }

  .poster{

    height: 100%;
    width: 100%;
    object-fit: cover;


  }

}

.bg {
  animation:slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(0, 48, 119) 50%, rgb(185, 207, 248) 50%, rgb(2, 44, 100) );
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:20s;
}

.bg3 {
  animation-duration:25s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

#outside-container{
  max-width: 1000px;
  margin: 30px auto;
  background-color: #222222;
  min-height: 90vh;
  border-radius: 30px;
  border: 7px solid $border-color;
  @extend %box-shadow;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

#ratings{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;

  p{

    padding: 15px;
    border: 7px solid #00a2e3;
    border-radius: 30px;

  }

}