ul {
  height: 6vh;
  margin-top: 7px;
  .nav-container {
    @include flex-center(row);
    justify-content: space-around;
    form {
      @include flex-center(row);
      margin: 0 auto;
      @extend %box-shadow;
      input[type=text] {
        border: none;
        border-radius: 3px 0 0 3px;
        border: 1px solid #222;
        border-right: none;
      }
      #search-box{
        width: 400px;
        border: none;
        input[type=text] {
          padding: 7px;
          width: 100%;
        }
        .quick-search-container {
          position: absolute;
          border: 1px solid #ccc;
          background-color: white;
          @include flex-center(row);
          justify-content: flex-start;
          height: 70px;
          width: 400px;
          border-radius: 0 0 5px 5px;
          color: black;
          &:Hover {
            background-color: darken(#ccc, 10%);
            border: 1px solid $border-color;
          }
          img {
            height: 60px;
            margin: 0 10px;
          }
          h3 {
            font-size: 12px;
          }
          p {
            font-size: 10px;
          }
          .quick-search-text {
            @include flex-center(column);
          }
        }
      }
    }
    li {
      list-style: none;
      cursor: pointer;
      margin: 0 15px;
      a {
        text-decoration: none;
        color: white;
        padding: 7px;
        border: 1px solid transparent;
          &:Hover {
          background-color: darken(#ccc, 10%);
          border: 1px solid $border-color;
          border-radius: 3px;
        }
      }
      button, input[type=submit] {
        padding: 7px 15px;
        cursor: pointer;
        border: none;
        background-color: #ccc;
        color: #222;
        &:Hover {
          background-color: darken(#ccc, 10%);
          transform: scale(1.05);
          border: 1px solid $border-color;
        }
      }
      button {
        border-radius: 3px;
        @extend %box-shadow;
        border: 1px solid #222;
      }
      input[type=submit]{
        border-radius: 0 3px 3px 0;
        border: 1px solid #222;
        border-left: none;
      }
    }
  }
}